{% extends 'base.html' %}
{% block content %} 
        <form method="post" class="buttons">
            <h3>Enter the Chat Room</h3>
            <div>
                <label>Name:</label>
                <input type="text" placeholder="Pick a name!" name="name" value="{{name}}"/>
            </div>
            <div class="join">
                <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
                <button type="submit" name="join">Join a Room</button>
            </div>
            <button type="submit" name="create" class="create-btn">Create a Room</button>
            <!-- Template if statement that will only show what's inside the block if 
            error evaluates to True (meaning there was an error passed to the page.) -->
            {% if error %}
            <ul>
                <li>{{error}}</li>
            </ul>
            {% endif %}
        </form>
{% endblock %}

<!-- Note: when either of the buttons above is clicked, the 'name' of the button will 
     be included with the form information.  That is how we will know which button 
     was clicked. -->